<%- include("admin-topbar.ejs") %>

<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <h2>Edit Course</h2>
    </div>
  </div>

  <form action="/update-courses" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="courses_id" value="<%- coursesone[0].courses_id %>">

    <div class="row">
      <div class="col-12 mb-3">
        <label class="form-label">Course Name:</label>
        <input type="text" name="courses_name" class="form-control"
               value="<%- coursesone[0].courses_name %>">
      </div>

      <div class="col-md-8 mb-3">
        <label class="form-label">Course Photo:</label>
        <input type="file" name="courses_photo" class="form-control"
               value="<%- coursesone[0].courses_photo %>">
        <small>Leave blank to keep the existing photo</small>
      </div>

      <div class="col-md-4 text-center mb-3">
        <img src="/uploads/<%- coursesone[0].courses_photo %>" alt="Course Photo" class="img-fluid" height="100" width="100">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Course Trainer:</label>
        <input type="text" name="courses_trainner" class="form-control"
               value="<%- coursesone[0].courses_trainner %>">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Course Language:</label>
        <input type="text" name="courses_language" class="form-control"
               value="<%- coursesone[0].courses_language %>">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Course Duration:</label>
        <input type="text" name="courses_duration" class="form-control"
               value="<%- coursesone[0].courses_duration %>">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Course Price:</label>
        <input type="text" name="courses_price" class="form-control"
               value="<%- coursesone[0].courses_price %>">
      </div>

      <div class="col-12 text-center mt-3">
        <button type="submit" class="btn btn-primary">Update Course</button>
      </div>
    </div>

  </form>
</div>

<%- include("admin-footer.ejs") %>